@model Desafio.DescubraAssassino.Domain.Response 

<div class="col-lg-6 thumbnail caption">
	<h3>Suspeito:</h3>
	<h4>@Model.Suspect</h4>

	<h3>Arma:</h3>
	<h4>@Model.Gun</h4>

	<h3>Local:</h3>
	<h4>@Model.Local</h4>

</div>